{% extends 'base.html.twig' %}

{% block title %}SectorArea index{% endblock %}

{% block body %}
    <h1>SectorArea index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SectorTitle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sector_area in sector_areas %}
            <tr>
                <td>{{ sector_area.id }}</td>
                <td>{{ sector_area.sectorTitle }}</td>
                <td>
                    <a href="{{ path('sector_area_show', {'id': sector_area.id}) }}">show</a>
                    <a href="{{ path('sector_area_edit', {'id': sector_area.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sector_area_new') }}">Create new</a>
{% endblock %}