{% extends 'base.html.twig' %}

{% block title %}Editer {{job.jobTitle }}{% endblock %}

{% block body %}
    <div class="container">
    <h1>Editer {{job.jobTitle }}</h1>

    {{ include('job/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('job_index') }}">retour à la liste</a>

    {{ include('job/_delete_form.html.twig') }}
    </div>
{% endblock %}