{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Ref.</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Auteur</th>
                <th>Date</th>
                <th>Salaire</th>
                <th>Lieu</th>
                <th>Logé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.jobTitle }}</td>
                <td>{{ job.jobContent[:50] ~ '...' }}</td>
                <td>{{ job.jobAuthor }}</td>
                <td>{{ job.jobDate ? job.jobDate|date('Y-m-d') : '' }}</td>
                <td>{{ job.monthlyWage }}</td>
                <td>{{ job.jobLocation }}</td>
                <td>{{ job.housed ? 'Oui' : 'Pas encore' }}</td>
                <td>
                    <a href="{{ path('job_show', {'id': job.id}) }}">montrer</a>
                    <a href="{{ path('job_edit', {'id': job.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">pas d'annonces répertoriées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_new') }}">Créer un Job</a>
{% endblock %}