{% extends 'base.html.twig' %}

{% block title %}Annonces d'emploi{% endblock %}

{% block body %}

    <table data-pagination="true" data-search="true" data-toggle="table" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th data-sortable="true">N°Emploi</th>
                <th data-sortable="true">Titre</th>
                <th data-sortable="true">Lieu</th>
                <th data-sortable="true">Posté le</th>
                <th data-sortable="true">Début le</th>
                <th data-sortable="true">Salaire m.</th>
                <th data-sortable="true">Logé?</th>

            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td><a href="{{ path('job_show', {'id': job.id}) }}">{{ job.jobTitle }}</a></td>
                    <td>{{ job.jobPlace }}</td>
                    <td>{{ job.jobDatePost ? job.jobDatePost|date('d/m/Y') : '' }}</td>
                    <td>{{ job.jobDateBegin ? job.jobDateBegin|date('d/m/Y') : '' }}</td>
                    <td>{{ job.jobWages }}</td>
                    <td>{{ job.housed ? 'oui' : 'pas encore' }}</td>
                   <!--  <td>
                       <a href="{{ path('job_show', {'id': job.id}) }}">voir </a>
                        <a href="{{ path('job_edit', {'id': job.id}) }}">editer</a>
                    </td>-->
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">pas encore d'annonces d'emploi</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

     <a href="{{ path('job_new')}}"><button type="button" class="btn btn-lg btn-block btn-primary company">Je crée un job</button></a>
{% endblock %}