{% extends 'base.html.twig' %}

{% block title %}{{ job.jobTitle}}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ job.jobTitle}}</h1>
 <div class="row">
            <img class="rentimage img-responsive shadow" src="/uploads/pictures_directory/{{job.picture}}"alt="" title=""/>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>N°Emploi</th>
                    <td>{{ job.id }}</td>
                </tr>
                <tr>
                    <th>Intitulé</th>
                    <td>{{ job.jobTitle }}</td>
                </tr>

                <tr>
                    <th>Début</th>
                    <td>{{ job.jobDateBegin ? job.jobDateBegin|date('d/m/Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Salaire mens.</th>
                    <td>{{ job.jobWages }}</td>
                </tr>
                <tr>
                    <th>Logé</th>
                    <td>{{ job.housed ? 'oui' : 'non' }}</td>
                </tr>

                <tr>
                    <th>Description</th>
                    <td>{{ job.jobContent|nl2br }}</td>
                </tr>
                <tr>
                    <th>Contact</th>
                    <td>{{job.jobContact}}
                </tr>
            </tbody>
        </table>

        <a href="{{ path('job_index') }}">retour à la liste</a>
        {% if app.user%}
            {% if id == job.jobContact.id  %}
                <a href="{{ path('job_edit', {'id': job.id}) }}">editer</a>

                {{ include('job/_delete_form.html.twig') }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}