{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    <h1>Job</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>JobTitle</th>
                <td>{{ job.jobTitle }}</td>
            </tr>
            <tr>
                <th>JobContent</th>
                <td>{{ job.jobContent }}</td>
            </tr>
            <tr>
                <th>JobDateBegin</th>
                <td>{{ job.jobDateBegin ? job.jobDateBegin|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>JobWages</th>
                <td>{{ job.jobWages }}</td>
            </tr>
            <tr>
                <th>Housed</th>
                <td>{{ job.housed ? 'oui' : 'non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('job_index') }}">back to list</a>

    <a href="{{ path('job_edit', {'id': job.id}) }}">edit</a>

    {{ include('job/_delete_form.html.twig') }}
{% endblock %}