{% extends 'base.html.twig' %}

{% block title %}Rent index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>ref.</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Auteur</th>
                <th>Date</th>
                <th>Loyer</th>
                <th>Lieu</th>
                <th>Surface</th>
                <th>Meublé?</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rent in rents %}
            <tr>
                <td>{{ rent.id }}</td>
                <td>{{ rent.rentTitle }}</td>
                <td>{{ rent.rentContent[:50] ~ '...' }}</td>
                <td>{{ rent.rentAuthor }}</td>
                <td>{{ rent.rentDate ? rent.rentDate|date('Y-m-d') : '' }}</td>
                <td>{{ rent.monthlyCost }}</td>
                <td>{{ rent.rentLocation }}</td>
                <td>{{ rent.surface ~ 'm²' }}</td>
                <td>{{ rent.furnished ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('rent_show', {'id': rent.id}) }}">montrer</a>
                    <a href="{{ path('rent_edit', {'id': rent.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">pas d'annonces répertoriées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rent_new') }}">Créer nouvelle location</a>
{% endblock %}