{% extends 'base.html.twig' %}

{% block title %}Annonces de location{% endblock %}

{% block body %}

    <table data-pagination="true" data-search="true" data-toggle="table" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th data-sortable="true">N°loc.</th>
                <th data-sortable="true">Titre</th>
                <th data-sortable="true">Lieu</th>
                <th data-sortable="true">Posté le</th>
                <th data-sortable="true">Loyer mens.</th>
                <th data-sortable="true">Surface</th>
                <th data-sortable="true">Meublé ?</th>

            </tr>
        </thead>
        <tbody>
            {% for rent in rents %}
                <tr>
                    <td>{{ rent.id }}</td>
                    <td>
                        <a href="{{ path('rent_show', {'id': rent.id}) }}">{{ rent.rentTitle }}</a>
                    </td>
                    <td>{{ rent.rentPlace}}</td>
                    <td>{{ rent.rentDatePost ? rent.rentDatePost|date('d/m/Y') : '' }}</td>
                    <td>{{ rent.monthCost ~ '€' }}</td>
                    <td>{{ rent.rentSurface }}</td>
                    <td>{{ rent.furnished ? 'oui' : 'non' }}</td>
                    <!--<td> <a href="{{ path('rent_show', {'id': rent.id}) }}">voir</a> <a href="{{ path('rent_edit', {'id': rent.id}) }}">editer</a> </td>-->
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">pas encore d'annonce recensée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

     <a href="{{ path('rent_new')}}"><button type="button" class="btn btn-lg btn-primary owner">Je loue un bien</button></a>
{% endblock %}