{% extends 'base.html.twig' %}

{% block title %}{{ rent.rentTitle }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ rent.rentTitle }}</h1>
        <div class="row">
            <img class="rentimage img-responsive" src="/uploads/pictures_directory/{{rent.picture}}"alt="" title=""/>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>n°Location</th>
                    <td>{{ rent.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ rent.rentTitle }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ rent.rentContent|nl2br  }}</td>
                </tr>
                <tr>
                    <th>Posté le</th>
                    <td>{{ rent.rentDatePost ? rent.rentDatePost|date('d/m/Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Disponibilité le</th>
                    <td>{{ rent.dispoDate ? rent.dispoDate|date('d/m/Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Loyer men.</th>
                    <td>{{ rent.monthCost ~ '€'}}</td>
                </tr>
                <tr>
                    <th>Surface</th>
                    <td>{{ rent.rentSurface ~ 'm²' }}</td>
                </tr>
                <tr>
                    <th>Meublé ?</th>
                    <td>{{ rent.furnished ? 'oui' : 'non' }}</td>
                </tr>
                <tr>
                    <th>Contact</th>
                    <td>{{rent.rentContact}}
                </tr>
            </tbody>
        </table>

        <a href="{{ path('rent_index') }}">retour à la liste</a> - 
        {% if app.user%}
            {%if id == rent.rentContact.id  %}
                <a href="{{ path('rent_edit', {'id': rent.id}) }}">editer</a>
                {{ include('rent/_delete_form.html.twig') }}
            {% endif %}
        {% endif %}

    </div>
{% endblock %}