{% extends 'base.html.twig' %}

{% block title %}Rent{% endblock %}

{% block body %}
   
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Ref.</th>
                <td>{{ rent.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ rent.rentTitle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ rent.rentContent }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ rent.rentAuthor }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ rent.rentContact }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ rent.rentDate ? rent.rentDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Loyer</th>
                <td>{{ rent.monthlyCost }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ rent.rentLocation }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ rent.surface }}</td>
            </tr>
            <tr>
                <th>Meublé?</th>
                <td>{{ rent.furnished ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rent_index') }}">retour à la liste</a>

    <a href="{{ path('rent_edit', {'id': rent.id}) }}">editer</a>

    {{ include('rent/_delete_form.html.twig') }}
</div>
{% endblock %}