{% extends 'base.html.twig' %}

{% block title %}Renty ! - Une solution 3-en-1{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        <input type="checkbox" required><label class="rgpd">En cochant cette case, j'accepte les conditions d'utilisations de Renty (<a href="" target="_blank"> voir nos conditions générales d'utilisation</a>)</label>

        <button class="btn btn-lg btn-block btn-primary" type="submit">S'inscrire !</button>
        {{ form_end(form) }}
    </div>
{% endblock %}